/*
comentario
*/
p{
    color: green;
}
#parrafo-dos{
    color: yellow;
}
.parrafo-tres{
    color: red;
}
.hijosDirectos > b{
    color: green;
    background-color: pink;
}
.hijosDescendientes b{
    color: green;
    background-color: pink;
}
.hermanos ~ li{
    background-color: aqua;
}
.hermanosAdyacentes + li{
    background-color: black;
    color: white;
}
.selectoresAtributos a[href]{
    color: orange;
}
.selectoresAtributos a[target="_blank"]{
    font-weight: bold;
}
/* El comodin del * aplica el estilo si contiene el texto en cuestion en cualquier parte */
.selectoresAtributos a[href*="youtube"]{
    font-size: 30px;
}
/* El comodin del ^ aplica el estilo si contiene el texto en cuestion al inicio */
.selectoresAtributos a[href^="http://"]{
    text-decoration: none;
}
/* El comodin del $ aplica el estilo si contiene el texto en cuestion al final */
.selectoresAtributos a[href$=".com/"]{
    background-color: black;
}