.container__snFlex {
    background-color: #333;
}
.container__flex {
    background-color: #333;
    display: flex;/*Se alinan en fila horizontal de forma de caja*/
}
.container__inlineFlex {
    background-color: #333;
    display: inline-flex;/*Se alinan en fila horizontal, ocupan el ancho que necesiten*/
}
.container__flexDirection--row {
    background-color: #333;
    display: flex;
    flex-direction: row;/*Por defecto*/
}
.container__flexDirection--row-reverse {
    background-color: #333;
    display: flex;
    flex-direction: row-reverse;/*Se alinan en fila horizontal de derecha a izquierda*/
}
.container__flexDirection--column {
    background-color: #333;
    display: flex;
    flex-direction: column;/*Se alinan en fila vertical de arriba a abajo*/
}
.container__flexDirection--column-reverse {
    background-color: #333;
    display: flex;
    flex-direction: column-reverse;/*Se alinan en fila vertical de abajo a arriba*/
}
.container__flexWrap--noWrap {
    background-color: #333;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;/*Por defecto*/
}
.container__flexWrap--wrap {
    background-color: #333;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;/*Se alinan en fila horizontal de forma de caja*/
}
.item {
    background-color: #666;
}
.item-wrap {
    background-color: #666;
    width: 20%;
}