.container__snFlex {
    background-color: #333;
}
.container__flex {
    background-color: #333;
    display: flex;/*Se alinan en fila horizontal de forma de caja*/
}
.container__inlineFlex {
    background-color: #333;
    display: inline-flex;/*Se alinan en fila horizontal, ocupan el ancho que necesiten*/
}
.container__flexDirection--row {
    background-color: #333;
    display: flex;
    flex-direction: row;/*Por defecto*/
}
.item {
    background-color: #666;
}